################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApplication1/FileContentIndex/2168d31e-b888-4931-a73f-49efc01af0ec.vsidx
/.vs/ConsoleApplication1/v17/Browse.VC.opendb
*.vsidx
